body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal-modal {
	width: 25vw !important;
	/* height: 80vh; */
}


.btn-city {
  padding : 5px 20px 5px 20px;
  background-color : #fff;
  border : 2px solid #333;
  color : #333;
  font-size : 1.4rem;
  margin-bottom : 20px;
  font-weight : bold;
}
.lintasan {
  margin : 2vw;
}
.city-list {
  height : 50vh;
  overflow-y : scroll;
  margin-bottom : 10px;
}
.city > td {
  cursor : pointer;
  text-align : left!important;
}
.city:hover {
  background-color: #afafaf;
  color: #fff;
}
.strip {
  font-size : 17px;
}



/* START CSS CUSTOM DASHBOARD */
.logo-login {
  background-image: -webkit-linear-gradient(90deg, #3E89FF 0%, #B1CFFF 59%, #3E89FF 100%); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(90deg, #3E89FF 0%, #B1CFFF 59%, #3E89FF 100%); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(90deg, #3E89FF 0%, #B1CFFF 59%, #3E89FF 100%); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(90deg, #3E89FF 0%, #B1CFFF 59%, #3E89FF 100%); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(90deg, #3E89FF 0%, #B1CFFF 59%, #3E89FF 100%); /* Standard syntax; must be last */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.form-center {
  top: 0;
bottom: 0;
/* margin: auto; */
margin-top: 60px;
position: absolute;
padding-left: 30px;
padding-right: 30px;
left: 0;
right: 0;
}


/* body {
  background: #F8F8F8;
  font-family: 'Muli', sans-serif;
  }
  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
  color: #3f50b5;
  }
  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
  border-bottom: 2px solid #3f50b5;
  box-shadow: none;
  }
  .input-field label{
  left: 0;
  }
  form{
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  width: 45%;
  }
  .btn-large{
  height: 45px;
  line-height:45px;
  }
  .m-b-none{
  margin-bottom: 0;
  }
  .padder-x{
  padding: 0 !important;
  }
  .m-md{
  margin-top: 10px;
  margin-bottom: 20px;
  }
  .forgotpassword{
  font-weight: bold;
  }
  h2{
  margin-top: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  padding:20px;
  }
  @media(max-width: 700px){
  form{
  width: 60%;
  }
  }
  @media(max-width: 530px){
  form{
  width: 70%;
  }
  }
  @media(max-width: 450px){
  form{
  width: 80%;
  }
  } */
/* END CSS CUSTOM DASHBOARD */

.loginButton:hover {
  background-color: #236BDD !important;
}
.loadButton {
  width: 23px;
  height: 23px;
}

.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}

.react-datepicker__triangle {
  left: 100px !important;
}

    .main-menu {
        text-align: center;
        padding: 10px;
    }

    .menu {
        /* font-size: 16px; */
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 6px;
        padding: 10px;
        color: #fff;
    }

    .menu:hover {
        background-color: #fff;
        color: #007bff;
        cursor: pointer;
        border: 2px solid #007bff;
    }

    .disabled {
        border: 2px solid #ddd;
        background-color: #ddd;
        cursor: pointer;
    }


.content-wrapper {
  background-color: #00173B;
}

.header-fluid {
  margin-top: 50px;
}


.nav-sidebar .menu-open>.nav-link i.right {
  transform: rotate(180deg);
}

.small-box {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 260px;
}


/* CSS BIKIN LOADING ANIMATION */
@keyframes loader-animation {
  0% {
    width: 0%;
  }

  49% {
    width: 100%;
    left: 0%
  }

  50% {
    left: 100%;
    width: 0;
  }

  100% {
    left: 0%;
    width: 100%
  }
}

.loader {
  height: 5px;
  width: 100%;
}

.loader .bar {
  /* margin: 0 auto; */
  /* padding: 0; */
  position: absolute;
  height: 5px;
  background-color: dodgerblue;
  animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* END LOADING ANIMATION */